<div class="chat-panel-container">
  <main class="chat-panel-container1">
    <div class="chat-panel-container2">
      <img
        [attr.src]="image_src"
        [attr.alt]="image_alt"
        class="chat-panel-image"
      />
    </div>
    <div class="chat-panel-container3">
      <img
        [attr.src]="image_src1"
        [attr.alt]="image_alt1"
        class="chat-panel-image1"
      />
    </div>
    <div class="chat-panel-container4">
      <img
        [attr.src]="image_src2"
        [attr.alt]="image_alt2"
        class="chat-panel-image2"
      />
    </div>
  </main>
</div>
