<div class="landing-page-container">
  <div class="landing-page-container1">
    <div class="landing-page-hero">
      <div class="landing-page-container2">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1529859503572-5b9d1e68e952?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fG1pbmltYWxpc20lMjBjb3VjaHxlbnwwfHx8fDE2MjYxODI1OTE&amp;ixlib=rb-1.2.1&amp;w=1200"
          class="landing-page-image"
        />
      </div>
      <div class="landing-page-container3">
        <h1 class="landing-page-text">Let’s keep things organised</h1>
        <h2 class="landing-page-text01">Magnificent things are very simple.</h2>
        <div class="landing-page-btn-group">
          <button class="landing-page-button button">Get Started</button>
          <button class="landing-page-button1 button">Learn More</button>
        </div>
        <span class="landing-page-text02">
          <span>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              volutpat turpis.
              <span [innerHTML]="raw1ezn"></span>
            </span>
            <span><span [innerHTML]="rawnsus"></span></span>
          </span>
          <span>
            <span>
              Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              Lorem
              <span [innerHTML]="raw9k2x"></span>
            </span>
            <span><span [innerHTML]="rawrib8"></span></span>
          </span>
          <span>
            <span>
              ipsum dolor sit amet, consectetur adipiscing elit.
              <span [innerHTML]="raw7i8b"></span>
            </span>
            <span><span [innerHTML]="rawldln"></span></span>
          </span>
          <br />
          <span></span>
          <br />
          <span>
            <span>
              Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              <span [innerHTML]="rawhv2q"></span>
            </span>
            <span><span [innerHTML]="rawmsjc"></span></span>
          </span>
        </span>
      </div>
    </div>
    <div class="landing-page-hero1">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1529859503572-5b9d1e68e952?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fG1pbmltYWxpc20lMjBjb3VjaHxlbnwwfHx8fDE2MjYxODI1OTE&amp;ixlib=rb-1.2.1&amp;w=1200"
        class="landing-page-image1"
      />
      <div class="landing-page-container4">
        <h1 class="landing-page-text16">Let’s keep things organised</h1>
        <h2 class="landing-page-text17">Magnificent things are very simple.</h2>
        <div class="landing-page-btn-group1">
          <button class="landing-page-button2 button">Get Started</button>
          <button class="landing-page-button3 button">Learn More</button>
        </div>
        <span class="landing-page-text18">
          <span>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              volutpat turpis.
              <span [innerHTML]="raw6ipw"></span>
            </span>
            <span><span [innerHTML]="raw5r5j"></span></span>
          </span>
          <span>
            <span>
              Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              Lorem
              <span [innerHTML]="rawi5ns"></span>
            </span>
            <span><span [innerHTML]="rawbu63"></span></span>
          </span>
          <span>
            <span>
              ipsum dolor sit amet, consectetur adipiscing elit.
              <span [innerHTML]="rawrscu"></span>
            </span>
            <span><span [innerHTML]="rawh3q9"></span></span>
          </span>
          <br />
          <span></span>
          <br />
          <span>
            <span>
              Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              <span [innerHTML]="rawddai"></span>
            </span>
            <span><span [innerHTML]="raw7lfr"></span></span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
